/* Estilo general del dashboard */

.dashboardContainer {
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: #f4f4f4;
    display: flex;
    flex-wrap: wrap;
    margin-right: 1px;
}
.orderHistoryContainer {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px;
    flex: 1;
}
/* Estilos para el componente Revenue */
.revenueContainer {
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px;
    flex: 1;
}
.container {
    display: flex;
    width: 100%;
    height: 100vh;
}


.mainContent {
    display: flex;
    flex-direction: column;  /* para que los hijos se apilen verticalmente */
    flex-grow: 1; 
    overflow-y: auto; 
}

.lightText {
    font-weight: 150;
}
.NotoolightText {
    font-weight: 150;
}
/* Estilos para SalesChart */
.salesChartContainer {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
    flex: 2;
}
.line {
    height: 2px;
    background-color: #e1e1e1;
    margin-top: 5px; 
    margin-bottom: 5px; 
}
.viewReportButton {
    position: absolute; /* Set the position to absolute */
    top: 10px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
}
.flexContainer {
    width: 100%;
    display: flex;
    flex-grow: 1;
    position: relative; 
    padding-left: 10px;
    padding-bottom: 10px;
    border-radius: 45px;
    height: 100%;
}
 
.boxRevenue {
    width: 50%; 
    display: flex;
    position: relative; 
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff; 
    padding: 1px;
    border-radius: 45px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08); 
    transition: box-shadow 0.3s ease;
    height: 100%; /* Añadido para estirar el contenedor */
}
.contentContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%; /* Ocupa el 100% de la altura de su contenedor padre */
}
.boxStock {
    width: 50%; 
    display: flex;
    position: relative; 
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff; 
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08); 
    transition: box-shadow 0.3s ease;
    height: 100%; /* Añadido para estirar el contenedor */
}


/* Hover effect to make the box slightly lifted */
.boxRevenue:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}

.headerRevenue {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px; /* added space between the header and content for clarity */
}

/* For better responsiveness on smaller screens */
@media (max-width: 768px) {
    .boxRevenue {
        padding: 15px; /* reduced padding for smaller screens */
    }
}


.divider {
    border-bottom: 1px solid #e1e1e1; /* línea divisoria */
    padding-bottom: 20px; /* espacio entre el contenido y la línea */
    margin-bottom: 20px; /* espacio después de la línea */
}

.stock-containerB {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 30px; /* corregido a 30px */
    margin-right: 10px;
}
.left-column, .right-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.stock-quantity, 
.stock-product {
    margin: 0;
    color: #fff;
    font-weight: bold;
    white-space: nowrap; /* Esto evita que el texto se divida en varias líneas */
    text-overflow: ellipsis;
    overflow: hidden;
}

.subtitlestock{
    font-weight: 340;
}


.marginBottom30 {
    margin-bottom: 30px;
}